<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>HOTELARIA - HOSPEDES</title>

</head>
<body>


<h2>Hóspedes</h2>

<a href="/add_hospede" class="btn">
  Novo Hóspede
</a>

<br><br>

<table>

  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Ações</th>
  </tr>

  {% for h in hospedes %}
  <tr>

    <td>{{ h.id }}</td>
    <td>{{ h.nome }}</td>
    <td>{{ h.cpf }}</td>
    <td>{{ h.telefone }}</td>
    <td>{{ h.email }}</td>

    <td>
      <a href="/edit_hospede/{{ h.id }}" class="btn">
        Editar
      </a>

      <a href="/delete_hospede/{{ h.id }}" class="btn"
      onclick="return confirm('Deseja excluir?')">
        Excluir
      </a>
    </td>

  </tr>
  {% endfor %}

</table>

{% else %}

<p>Nenhum hóspede cadastrado.</p>

<a href="/add_hospede" class="btn">
  Cadastrar Hóspede
</a>


</body>
</html>