<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>HOTELARIA - ADICIONAR HOSPEDE</title>

</head>
<body>
   <div class="navbar">
        <a href="/hospede">HÓSPEDES</a>
       <a href="/quartos">QUARTOS</a>
       <a href="/reservas">RESERVAS</a>
    </div>
    <h1>Fórmulario de cadastro de hóspede</h1>
    <form action="/add_hospede" method="POST">
        <input type="text" name="nome" placeholder="Nome completo ">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="telefone" placeholder="telefone ">
        <input type="text" name="cpf" placeholder="somente números">
        <button type="submit">Cadastrar hóspede</button>
    </form>

</body>
</html>